<!--
Title: Footer.ejs
Author: Lucas Hoffman
Date: 09/19/2021
Description: footer.ejs file for assignment 6.4
-->

<hr>
<footer>
    <p>© Lucas Hoffman - 2021</p>
</footer>
</body>
</html>