<!--
Title: index.ejs
Author: Lucas Hoffman
Date: 09/19/2021
Description: index.ejs file for assignment 6.4
-->

<%- include('header.ejs') -%>
<%- include('navbar.ejs') -%>

    <div class="container px-4 text-center">
        <br>
        <br>
        <h1 class="fw-bolder">Welcome to Lucas Hoffman's Employee Management System</h1>
    </div>

    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <br>
                    <br>
                    <p class="lead">Assignment 6.4:</p>
                    <ul>
                        <li>This is where the ems assignment's content will go such as:</li>
                        <li>Being able to enter new data.</li>
                        <li>Being able to view employee data.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<%- include('scripts.ejs') -%>
<%- include('footer.ejs') -%>
