<!--
=============================================
Title: index.ejs
Author: Lucas Hoffman
Date: 8/22/2021
Description: Index page for assignment 3.2
Link to GitHub repository: https://github.com/lucash0331/web-340
=============================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- Title for the website -->
    <title>Logging</title>

    <!-- Bootstrap external style sheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous"</link>

</head>


<body>

<!-- Content for nav bar -->
<nav class="navbar.navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">About</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>

<!-- content for the main div -->
<div class="container" role="main">
    <br> <br>
    <h2><%= message %></h2>
</div>
</body>
</html>