<!--
Title: Footer.ejs
Author: Lucas Hoffman
Date: 09/19/2021
Description: footer.ejs file for assignment 6.4
-->

<footer class="footer">
    <div class="container">
      <span class="text-muted">© Lucas Hoffman 2021. Bellevue University</span>
    </div>
  </footer>
