<!--
Title: index.ejs
Author: Lucas Hoffman
Date: 8/25/2021
Description: index file for Assignment 3.4
Link to GitHub repository: https://github.com/lucash0331/web-340
-->

<!-- Include the header file -->
<%- include('header'); -%>

<!-- Div section that displays message from JS -->
<div role="main" class="container">
    <br/> <br/>

    <h2> Welcome to the <%= message %> ! </h2>
</div>

<!-- Include the footer file -->
<%- include('footer'); -%>